@import url(navbar.css);

.top {
  width: 100%;
  height: 425px;
  background-image: url("/img/log.png");
  @include bkg-cover-fixed;
  margin-top: 50px;
  margin-left:70px;
  background-size: 1680px 370px;
  background-repeat: no-repeat;
}

.header {
  color:rgb(44, 44, 44);
  display:flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.3;
}


#titles {
margin-left: 830px;
margin-top: 6.5rem;
font-size: 100px;
background: none;
background-color: #f0f8ff94;
width: fit-content;
color: black;
}

form {
  align-self: center;
}


